gradlew     text eol=lf
gradle.properties text
LICENSE text
*.md text
*.yml text
*.gradle text
*.cmd text eol=crlf
*.cfg text
*.json text

*.cake text diff=csharp
*.vcproj text
*.vcxproj text
*.csproj text
*.vcxproj.user text
*.vcxproj.filters text
*.wixproj text
*.wxs text
*.sln text
*.cs text diff=csharp